{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center h-screen w-100">
    <form method="post" class="card w-96 bg-base-100 shadow-xl">
        {% csrf_token %}
        <div class="card-body gap-4">
            <div class="card-title">Change Password</div>
            {% for field in form.hidden_fields %}
                {{ field }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div>
                    <p class="text-sm text-red-500">{{ field.errors }}</p>
                    <label classs="gap-2">{{ field.label_tag }}</label>
                    <label class="input input-bordered flex items-center gap-2">
                        {{ field }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary w-full mt-4">Submit</button>
        </div>
    </form>
</div>
{% endblock %}