{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% load i18n %}
{% block title %}Activity Detail{% endblock %}
{% block content %}
    {% include "partials/breadcrumb.html" with breadcrumbs=breadcrumbs %}
    <div x-data="{showActual: false}">
        <h1 class="font-bold text-2xl">{% trans "Detail activity" %}</h1>
        <div class="flex gap-4 items-center">
            <h3 class="font-semibold text-lg">{% trans "Detail activity name" %}</h3>
            {{ detail_activity.detail_type.name }}
        </div>
        <div class="flex gap-4 items-center">
            <h3 class="font-semibold text-lg">{% trans "Date Range" %}</h3>
            <p>{{ detail_date_range }}</p>
            {# <p>{{ detail_activity.start_date|date:"M j" }} - {{ detail_activity.end_date|date:"M j" }}</p> #}
        </div>
        <div class="flex gap-4 items-center">
            <h3 class="font-semibold text-lg">{% trans "Assignee" %}</h3>
            <p>{{ detail_activity.assignee }}</p>
        </div>
        <div class="flex gap-4 items-center">
            <h3 class="font-semibold text-lg">{% trans "Status" %}</h3>
            <p>
                {% if detail_activity.date_ended %}
                    {% trans "Finished at" %} {{ detail_activity.date_ended|date:"D d M Y" }}
                {% elif detail_activity.date_started %}
                    {% trans "Started at" %} {{ detail_activity.date_started|date:"D d M Y" }}
                {% else %}
                    {{ detail_activity.status|lower|capfirst }}
                {% endif %}
            </p>
        </div>
        <div class="flex gap-4 mt-10">
            <div>
                <p>{% trans "Total Completion percentage" %}</p>
                <progress class="progress progress-secondary w-56"
                          value="{{ detail_activity.completion_rate }}"
                          max="100"></progress>
                <span>{{ detail_activity.completion_rate }}%</span>
            </div>
            <div>
                <p>{% trans "Total Utilization Percentage" %}</p>
                <progress class="progress progress-secondary w-56"
                          value="{{ detail_activity.utilization_rate }}"
                          max="100"></progress>
                <span>{{ detail_activity.utilization_rate }}%</span>
            </div>
            <div>
                <p>{% trans "Total Cost Utilization Percentage" %}</p>
                <progress class="progress progress-secondary w-56"
                          value="{{ detail_activity.cost_utilization_rate }}"
                          max="100"></progress>
                <span>{{ detail_activity.cost_utilization_rate }}%</span>
            </div>
        </div>
        <div class="overflow-x-auto mt-10 space-y-4">
            {% for data_name in data_names %}
                <table class="table table-zebra border">
                    <thead>
                        <tr>
                            <th rowspan="2">
                                {% if data_name == "resources" %}
                                    {% trans "Resource" %}
                                {% elif data_name == "inputs" %}
                                    {% trans "Input" %}
                                {% else %}
                                    {% trans "Tool" %}
                                {% endif %}
                            </th>
                            <th rowspan="2">{% trans "Unit" %}</th>
                            <th colspan="4">{% trans "Plan" %}</th>
                            <th rowspan="2">{% trans "Action" %}</th>
                        </tr>
                        <tr>
                            <th>{% trans "Work Norm" %}</th>
                            <th>{% trans "Planned achievement" %}</th>
                            <th>{% trans "Payment" %}</th>
                            <th>{% trans "Total cost" %}</th>
                        </tr>
                    </thead>
                    {% if data_name == "resources" %}
                        {% for resource in resources %}
                            <tr>
                                <td>{{ resource.resource_type.name }}</td>
                                <td>{{ resource.resource_type.norm_unit }}</td>
                                <td>
                                    {{ resource.work_norm }}
                                    {% if resource.resource_type.norm_unit %}
                                        <span class="text-xs font-bold">{{ resource.resource_type.norm_unit }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ resource.achievement }}
                                    {% if resource.resource_type.achievment_unit %}
                                        <span class="text-xs font-bold">{{ resource.resource_type.achievement_unit }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ resource.payment }}
                                    {% if resource.resource_type.payment_unit %}
                                        <span class="text-xs font-bold">{{ resource.resource_type.payment_unit }}</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ resource.get_cost }}
                                    {% if resource.resource_type.payment_unit %}
                                        <span class="text-xs font-bold">{{ resource.resource_type.payment_unit }}</span>
                                    {% endif %}
                                </td>
                                <td class="flex flex-col items-start justify-center">
                                    <button @click="showActual = true"
                                            hx-target="#add-actual"
                                            hx-get="{% url "core:create_actual_activity_resource" %}?activity_resource_id={{ resource.id }}"
                                            class="link link-accent">{% trans "Add/Edit actual" %}</button>
                                    <a href="{% url "core:activity_resource_detail" pk=resource.id %}"
                                       class="link link-accent">{% trans "see actual details" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% elif data_name == "inputs" %}
                        {% for input in inputs %}
                            <tr>
                                <td>{{ input.resource_type.name }}</td>
                                <td>{{ input.resource_type.norm_unit }}</td>
                                <td>{{ input.work_norm }}</td>
                                <td>{{ input.achievement }}</td>
                                <td>{{ input.payment }}</td>
                                <td>{{ input.get_cost }}</td>
                                <td class="flex flex-col">
                                    <button @click="showActual = true"
                                            hx-target="#showActual"
                                            hx-get="{% url "core:create_actual_activity_resource" %}?activity_resource_id={{ input.id }}"
                                            class="link link-accent">{% trans "Add/Edit actual" %}</button>
                                    <a href="" class="link link-accent">{% trans "see actual details" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% elif data_name == "tools" %}
                        {% for tool in tools %}
                            <tr>
                                <td>{{ tool.resource_type.name }}</td>
                                <td>{{ tool.resource_type.norm_unit }}</td>
                                <td>{{ tool.work_norm }}</td>
                                <td>{{ tool.achievement }}</td>
                                <td>{{ tool.payment }}</td>
                                <td>{{ tool.get_cost }}</td>
                                <td class="flex flex-col">
                                    <button @click="showActual = true"
                                            hx-target="#showActual"
                                            hx-get="{% url "core:create_actual_activity_resource" %}?activity_resource_id={{ tool.id }}"
                                            class="link link-accent">{% trans "Add/Edit actual" %}</button>
                                    <a href="" class="link link-accent">{% trans "see actual details" %}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            {% endfor %}
        </div>
        {% #sidebar open="showActual" override_whole=True override_whole_id="add-actual" %}
        {% /sidebar %}
    </div>
{% endblock %}
