{% load i18n %}
<form class="flex flex-col px-4 h-full"
    action="{% url "core:add_group" %}"
    method="POST">
    {% csrf_token %}
    <div class="flex-1 flex flex-col gap-2 h-full">
        <h1 class="font-bold text-lg">{% trans "Add new group" %}</h1>
        <input type="text" class="field bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5" id="groupNameInput" name="name" placeholder="Enter group name">
        <div class="flex justify-between gap-4 py-4">
            <input type="submit" class="btn btn-neutral flex-1" value="Submit">
        </div>
    </div>
</form>