{% load django_tables2 %}
{% load i18n l10n %}
{% block table-wrapper %}
  <div class="overflow-x-auto">
    {% block table %}
      <table {% render_attrs table.attrs class="table" %}>
        {% block table.thead %}
          {% if table.show_header %}
            <thead {{ table.attrs.thead.as_html }}>
              <tr>
                {% for column in table.columns %}
                  <th {{ column.attrs.th.as_html }} scope="col">
                    {% if column.orderable %}
                      <a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{% trans column.header %}</a>
                    {% else %}
                      {% trans column.header %}
                    {% endif %}
                  </th>
                {% endfor %}
              </tr>
            </thead>
          {% endif %}
        {% endblock table.thead %}
        {% block table.tbody %}
          <tbody {{ table.attrs.tbody.as_html }}>
            {% for row in table.paginated_rows %}
              {% block table.tbody.row %}
                <tr {{ row.attrs.as_html }}>
                  {% for column, cell in row.items %}
                    <td {{ column.attrs.td.as_html }}>
                      {% if column.localize == None %}
                        {{ cell }}
                      {% else %}
                        {% if column.localize %}
                          {{ cell|localize }}
                        {% else %}
                          {{ cell|unlocalize }}
                        {% endif %}
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endblock table.tbody.row %}
            {% empty %}
              {% if table.empty_text %}
                {% block table.tbody.empty_text %}
                  <tr>
                    <td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td>
                  </tr>
                {% endblock table.tbody.empty_text %}
              {% endif %}
            {% endfor %}
          </tbody>
        {% endblock table.tbody %}
        {% block table.tfoot %}
          {% if table.has_footer %}
            <tfoot class="bg-base-200 text-white" {{ table.attrs.tfoot.as_html }}>
              <tr>
                {% for column in table.columns %}
                  {% if forloop.counter == 1 %}
                    <td>Total</td>
                  {% else %}
                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                  {% endif %}
                {% endfor %}
              </tr>
            </tfoot>
          {% endif %}
        {% endblock table.tfoot %}
      </table>
    {% endblock table %}
    {% block pagination %}
      {% if table.page and table.paginator.num_pages > 1 %}
        <div class="join mt-5">
          {% if table.page.has_previous %}
            {% block pagination.previous %}
              <a class="join-item btn"
                 href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}">
                {% trans 'previous' %}
              </a>
            {% endblock pagination.previous %}
          {% endif %}
          {% if table.page.has_previous or table.page.has_next %}
            {% block pagination.range %}
              {% for p in table.page|table_page_range:table.paginator %}
                {% if p == '...' %}
                  <a {% if p == table.page.number %}class="join-item btn btn-active text-white" {% else %}class="join-item btn"{% endif %}
                     href="#">{{ p }}</a>
                {% else %}
                  <a {% if p == table.page.number %}class="join-item btn btn-active text-white" {% else %}class="join-item btn"{% endif %}
                     href="{% querystring table.prefixed_page_field=p %}">{{ p }}</a>
                {% endif %}
              {% endfor %}
            {% endblock pagination.range %}
          {% endif %}
          {% if table.page.has_next %}
            {% block pagination.next %}
              <a class="join-item btn"
                 href="{% querystring table.prefixed_page_field=table.page.next_page_number %}">{% trans 'next' %}</a>
            {% endblock pagination.next %}
          {% endif %}
        </div>
      {% endif %}
    {% endblock pagination %}
  </div>
  <style>
  .choices {
    width: 300px;
  }
  .choices__inner {
    min-height: 0px;
    padding: 0; 
    padding-bottom: 0px !important;  
  }
  </style>
  <script>
    const elements = document.querySelectorAll('select[name="location"], select[name="from_location"], select[name="to_location"], select[name="batch__source_site"]');
    for (const element of elements) {
        new Choices(element);
    }
  </script>
{% endblock table-wrapper %}
